<div class="jumbotron">
    <div class="container my-5">
        <h1>About this Angular App</h1>
        <h5>Organize your
            work and life, finally.
            Become focused, organized, and calm with Todoist. The world’s #1 task manager and to-do list app.</h5>
            <p>Pioneering async- and remote-first work for over a decade
                Doist has been async- and remote-first since day one (back in 2010). We’re living proof thatthis way of working is the future, not a fad.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
  </div>